BancosDeDados/
.idea/
!/.idea/
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\dev\Gits\Energens_ORM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
__pycache__/
!/.idea/Energens_ORM.iml